<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/assets/myToDo.css">
    <script src="/assets/myToDo.js"></script>

    <title>郭小橙ToDo</title>
</head>

<body>
    <div id="todo-tb">
        <h1>2019，请问你立flag了吗</h1>
        <form>
            <input type="text" name="todo-item" placeholder="请输入新的flag" required />
            <button type="submit">立个flag</button>
        </form>
        <ul>
            <!-- <li>早睡早起</li>
            <li>锻炼身体</li>
            <li>好好学习</li>
            <li>养大猫咪</li> -->
            <% flags.forEach(function(flag){ %>
                <li><%= flag .item%></li>
            <%})%>
        </ul>
    </div>
</body>

</html>